<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>{% if title == "DRVR" %}{{ title }}{% else %}DRVR | {{ title  | upper }}{% endif %}</title>
    <link rel="stylesheet" href="/assets/styles.css" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'><text y='52' font-size='52'>🏗️</text></svg>">
  </head>
  <body>
    <main class="container">
      <header>
        <a href="/">WAT</a> | <a href="/">WAAROM</a> | <a href="/">HOE</a> |
        <a href="/projecten">PROJECTEN</a> | <a href="/">CONTACT</a>
      </header>
          {{ content | safe }}

  
      <footer class="footer">
        <p>
          DE ROOVER STRUCTUREEL ONTWERP | STUKWERKERSSTRAAT 4301 - 9000 GENT |
          BTW: BE 0589 876 893 | IBAN: BE55 0001 4336 0744 | MOB:
          <a href="tel:+32476472688">+32 476 472 688</a> |
          <a href="mailto:MAIL@DRVR.BE">MAIL@DRVR.BE</a>
        </p>
      </footer>
    </main>
    <script src="/assets/script.js"></script>
  </body>
</html>
