---
layout: base.njk
title: "PROCES"
---

<div class="main-content">
  <h2 id="proces">PROCES</h2>

  <p>
    De mogelijkheden worden in fase voorontwerp gesynthetiseerd en gekoppeld aan
    een budgettaire studie. We willen tijd investeren in de voorbereiding van
    het aanbestedingsdossier om het daaropvolgende bouwproces zo kort en
    efficiënt mogelijk te houden. Een sluitend aanbestedingsdossier en een goede
    planning zijn essentieel voor de beheersing van het vooropgestelde budget.
    We willen doeltreffend bouwen, een continu proces waarin elk probleem
    onmiddellijk kan worden besproken, aangepakt en opgelost.
  </p>
  {% set quote = "Een actie die meerdere redenen, gevolgen of doelen heeft is
  van meer waarde dan wat slechts één resultaat oplevert. In het eerste geval
  kunnen we spreken over een artefact met betekenis, in het tweede geval over
  het oplossen van een probleem." %} {% include "quote.njk" %}
</div>
