---
layout: base.njk
title: "PROCES"
---

<div class="main-content">
  <h2 id="proces">PROCES</h2>

  <p>
    De mogelijkheden worden in fase voorontwerp gesynthetiseerd en gekoppeld aan
    een budgettaire studie. We willen tijd investeren in de voorbereiding van
    het aanbestedingsdossier om het daaropvolgende bouwproces zo kort en
    efficiënt mogelijk te houden. Een sluitend aanbestedingsdossier en een goede
    planning zijn essentieel voor een goede beheersing van het vooropgestelde
    budget. We willen doeltreffend bouwen, een continu proces waarin elk
    probleem onmiddellijk kan worden besproken, aangepakt en opgelost.
  </p>
  {% set quote = "Niets is onmogelijk, maar er is een subjectieve grens, waarbij
  de middelen niet meer in verhouding staan tot hun resultaat." %} {% include
  "quote.njk" %}
</div>
