---
layout: base.njk
title: "WAAROM?"
---

<div class="main-content">
  <h2 id="waarom">WAAROM</h2>

  <p>
    We trachten de ingrepen te beperken tot de noodzakelijke én zoeken naar
    slimme oplossingen die gelijktijdig een antwoord bieden op verschillende
    vragen. Deze oplossingen zijn niet de meest voor-de-hand-liggende, en
    resulteren in een eigenzinnige, juist gedimensioneerde en goed
    functionerende ruwbouw. Deze inspanning tot strategisch ingrijpen gaat uit
    van een doortastend economisch en ecologisch denken.
  </p>


    {% set quote = "Niets is onmogelijk, maar er is een subjectieve grens, waarbij
  de middelen niet meer in verhouding staan tot hun resultaat." %} {% include
  "quote.njk" %}
</div>
