---
layout: base.njk
title: "WAT?"
---

<div class="main-content">
  <h2 id="wat">WAT</h2>

  <p>
    DRVR ontwerpt structuren. Dit betreft in hoofdzaak het berekenen en
    dimensioneren daarvan, maar als studiebureau voor stabiliteit willen we niet
    enkel oplossingen aanreiken. We streven naar een coherent structureel
    ontwerp dat meer is dan een opsomming van afzonderlijke technische ingrepen.
    Technische keuzes worden afgestemd binnen een denkkader, dat doorheen een
    consequent ontwerp- en bouwproces vorm geeft aan een helder resultaat.
  </p>

  {% set quote = "Artefacten hebben enkel betekenis wanneer er over kan worden gesproken. Dat discours ontstaat in een creatief proces door de voorafgaande ideeën te benoemen." %} {% include
  "quote.njk" %}
</div>
