---
layout: base.njk
title: "Wie?"
---

<div class="main-content">
  <h2 id="wie">WIE</h2>

  <p>
    Arthur De Roover is burgerlijk ingenieur - architect en zaakvoerder van
    studiebureau DRVR.
  </p>

  <p>
    Als medewerker bij architectenbureaus – MVRDV architecten te Rotterdam,
    Stéphane Beel Architecten, Glenn Sestig Architects – werkte hij aanvankelijk
    aan diverse en internationale architectuur- en stedenbouwkundige projecten.
    In die periode werden op zelfstandige basis ook meer kleinschalige
    architectuurprojecten gerealiseerd, alsook scenografieën en research voor
    tentoonstellingen.
  </p>

  <p>
    Vanuit een uitgesproken affiniteit voor bouwtechnische aspecten ging hij
    vervolgens aan de slag als raadgevend ingenieur stabiliteit – Studiebureau
    ABT te Antwerpen en Arnhem/Velp, Bureau d'études Lipski te Brussel. Hij
    volgde diverse postacademische opleidingen om zich te verdiepen in deze
    materie. Vanaf 2004 is Arthur De Roover werkzaam als structureel ingenieur
    op zelfstandige basis, en heeft ondertussen mee bijgedragen aan de
    realisatie van een uitgebreid repertorium gebouwen: woningen, renovaties en
    uitbreidingen in de privésector, appartementen, kantoren en utilitaire
    gebouwen in privé en openbare aanbestedingen.
  </p>

  <p>
    Van 2003 tot 2025 is hij aangesteld als deeltijds praktijkassistent aan de
    Vakgroep Architectuur en Stedenbouw van Universiteit Gent, en belicht hier
    hoofdzakelijk de structurele aspecten van het architectuurontwerp.
  </p>
</div>
